- diff_lines = parse_diff_file(diff_file, expandable: @merge_request.present?)

%div{ class: 'diff-content' }
  - _diff_refs = @diffs&.diff_refs
  %div{ class: 'font-mono text-sm leading-relaxed', id: "diff-viewer-#{diff_file_id(diff_file)}", data: diff_comment_viewer_data(diff_file, @merge_request, _diff_refs) }
    - diff_lines.each do |line|
      - if line[:type] == 'hunk_header'
        %div{ class: 'bg-gray-50 border-t border-b border-gray-300 min-h-5 flex items-center px-2 py-1' }
          %div{ class: 'text-gray-600 font-semibold text-sm leading-5' }= line[:content]
      - elsif line[:type] == 'expander'
        = render 'projects/diffs/expander', diff_file: diff_file, expander: line
      - else
        = render 'projects/diffs/diff_line', line: line
