- content_for :breadcrumb do
  - nodes = [*project_breadcrumb_nodes(@project), { label: 'Board', path: namespace_project_boards_path(@project.namespace.parent.full_path, @project.path) }]
  = render 'shared/breadcrumb', nodes: nodes

%div{ class: 'w-full bg-white', style: 'height: calc(100vh - 50px)' }
  - if @stages_with_issues&.any?
    %div{ class: 'px-6 py-4 overflow-x-auto', style: 'height: calc(100% - 64px)' }
      %div{ class: 'flex gap-6 h-full', data: { controller: 'board-drag' } }
        - @stages_with_issues.each do |stage_data|
          - stage = stage_data[:stage]
          - issues = stage_data[:issues]
          = render 'projects/boards/stage_column', stage: stage, issues: issues, project: @project
        - if current_user
          = button_to board_stages_path(@board), method: :post, id: 'add-stage-button', class: 'flex-shrink-0 w-12 h-12 bg-slate-50 border-2 border-dashed border-slate-300 rounded-lg hover:border-slate-400 text-slate-600 transition-colors flex items-center justify-center', remote: true do
            = icon 'plus', class: 'w-5 h-5'
