= turbo_stream.replace "issue-labels" do
  = render 'shared/labels/selected_labels_turbo', resource: @issue, resource_type: 'issue', labels: @issue.labels, selected_label_ids: @issue.label_ids.join(','), can_edit: current_user&.can?(:update_issue, @issue)

= turbo_stream.replace "label-dropdown-options" do
  = render 'shared/labels/label_dropdown_options', labels: [], selected_ids: @issue.label_ids
